#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=DataGrip
Icon=office-database
Exec=datagrip %f
Comment=Your Swiss Army knife for databases & SQL
Categories=Development;Tools;
Terminal=false
StartupWMClass=jetbrains-datagrip
