[Desktop Entry]
Version=1.0
Type=Application
Name=Rider
Icon=/home/bookletchoir/Softwares/riderRS/bin/Rider_128.png
Exec=rider %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rider
