#!/usr/bin/env xdg-open

[Desktop Entry]
Comment=Note taking Webapp
Terminal=false
Name=Laverna
Exec=laverna
Type=Application
Icon=ms-onenote
Categories=Utility;
