#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Messenger
Comment=Bring messenger.com to your desktop. Not affiliated with Facebook.
Icon=fbmessenger
Exec=messenger
NoDisplay=false
Categories=Network;
StartupNotify=false
Terminal=false
