[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SmartGit
Keywords=git;hg;svn;mercurial;subversion
GenericName=Git&Hg-Client + SVN-support
Type=Application
Categories=Development;RevisionControl
Terminal=false
StartupNotify=true
StartupWMClass=SmartGit
Exec=smartgit %u
MimeType=x-scheme-handler/smartgit;x-scheme-handler/sourcetree;
Icon=smartgithg

