[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SmartSVN
Keywords=svn;subversion
GenericName=SVN Client
Type=Application
Categories=Development;RevisionControl
Terminal=false
StartupNotify=true
Exec=smartsvn %f
MimeType=x-directory/normal
Icon=smartsvn
X-Ayatana-Desktop-Shortcuts=NewWindow;RepositoryBrowser

[NewWindow Shortcut Group]
Name=Open a New Window
Exec=smartsvn
TargetEnvironment=Unity

[RepositoryBrowser Shortcut Group]
Name=Open the Repository Browser
Exec=smartsvn --repository-browser
TargetEnvironment=Unity
