[Desktop Entry]
Name=systemd System Manager (Root)
Comment=Manage Systemd Units
Exec=pkexec systemadm
Icon=applications-system
Terminal=false
Type=Application
Categories=System;Settings;
