[Desktop Entry]
Name=systemd System Manager
Comment=Manage Systemd Units
Exec=systemadm
Icon=applications-system
Terminal=false
Type=Application
Categories=System;Settings;
