[Desktop Entry]
Encoding=UTF-8
Name=Visual Paradigm
Comment=Effective IT System Design, with UML & ERD
Type=Application
Exec=visualparadigm
Icon=/usr/share/icons/Numix-Circle/48/apps/visualparadigm.svg
Terminal=false
Categories=Graphics;
StartupNotify=true
